:root{
    --primary-background-color:#FFFDEE;
    --secondary-background-color:#F0ECD6;
    --footer-background-color:#0E0C07;
    --hero-text-color:#FFFFFF;
    --section-title-text-color:#000000;
    --home-restaurant-text-color:#5F5F5F;
    --home-restaurant-accent-text-color:#C79002;
    --home-restaurant-light-text-color:#BABABA;
    --hotel-room-text-color:#7A7A7A;
    --accent-color:#F3C653;
    --slogan-color:#B4B4B4;
    --mimino-section-color:#494848;
    --modal-placeholder-color:#808080;
    --modal-text-color:#C79002;
    --transition-duration: 250ms;
    --transition-timing-function:linear;
}

body {
font-family: "Montserrat", sans-serif;
font-style:normal;
font-weight:600;
font-size:16px;
line-height: calc(20 / 16);
letter-spacing: 0.02em;
color:var(--home-restaurant-text-color);
background:var(--primary-background-color);
}

