@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --primary-background-color: #fffdee;
  --secondary-background-color: #f0ecd6;
  --footer-background-color: #0e0c07;
  --hero-text-color: #ffffff;
  --section-title-text-color: #000000;
  --home-restaurant-text-color: #5f5f5f;
  --home-restaurant-accent-text-color: #c79002;
  --home-restaurant-light-text-color: #bababa;
  --hotel-room-text-color: #7a7a7a;
  --accent-color: #f3c653;
  --slogan-color: #b4b4b4;
  --mimino-section-color: #494848;
  --modal-placeholder-color: #808080;
  --modal-text-color: #c79002;
  --transition-color: color 250ms linear;
  --transition-bg: background-color 250ms linear;
  --transition-fill: fill 250ms linear;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--home-restaurant-text-color);
  background: var(--primary-background-color);

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.mimiho-title {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: calc(69 / 64);
  }

  &--grey {
    color: var(--mimino-section-color);
  }

  &--white {
    color: #ffffff;
  }
}

.section-text {
  &--dark {
    color: var(--home-restaurant-text-color);
  }

  &--light {
    color: var(--home-restaurant-light-text-color);
  }

  &--gold {
    color: var(--home-restaurant-accent-text-color);
  }
}
