@font-face{
font-family: Montserrat ;
font-weight: 700;
font-style: normal;
src:local("Montserrat"),
    url("/src/fonts/Montserrat-Bold.woff2") format('woff2'),
    url("/src/fonts/Montserrat-Bold.woff") format('woff');
font-display: swap;
}
@font-face{
font-family: Montserrat ;
font-weight: 600;
font-style: normal;
src:local("Montserrat"),
    url("/src/fonts/Montserrat-SemiBold.woff2") format('woff2'),
    url("/src/fonts/Montserrat-SemiBold.woff") format('woff');
font-display: swap;
}
@font-face{
font-family: Montserrat ;
font-weight: 500;
font-style: normal;
src:local("Montserrat"),
    url("/src/fonts/Montserrat-Medium.woff2") format('woff2'),
    url("/src/fonts/Montserrat-Medium.woff") format('woff');
font-display: swap;
}
@font-face{
font-family: Montserrat ;
font-weight: 400;
font-style: normal;
src:local("Montserrat"),
    url("/src/fonts/Montserrat-Regular.woff2") format('woff2'),
    url("/src/fonts/Montserrat-Regular.woff") format('woff');
font-display: swap;
}
@font-face{
font-family: Montserrat ;
font-weight: 300;
font-style: normal;
src:local("Montserrat"),
    url("/src/fonts/Montserrat-Light.woff2") format('woff2'),
    url("/src/fonts/Montserrat-Light.woff") format('woff');
font-display: swap;
}
@font-face{
font-family: "Film P3" ;
font-weight: 700;
font-style: normal;
src:local("Film P3"),
    local("Film-P3"),
    url("/src/fonts/FilmP3Bold.woff2") format('woff2'),
    url("/src/fonts/FilmP3Bold.woff") format('woff');
font-display: swap;
}
