@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
ul,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}