.amenities {
  padding: 32px 0;
}
.amenities-title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  color: var(--section-title-text-color);
  margin-bottom: 16px;
}
.amenities-title-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  margin-left: 0;
  color: var(--hotel-room-text-color);
  margin-bottom: 32px;
  width: 100%;
  @include media(1024px) {
    width: 757px;
  }
}

.amenities-subtitle {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--section-title-text-color);
  margin-bottom: 16px;
}
.amenities-item {
  margin-bottom: 32px;
}

.amenities-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include media(1024px) {
    flex-direction: row;
    gap: 80px;
  }
  @include media(1280px) {
    flex-direction: row;
    gap: 159px;
  }
}

.amenities-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  margin-left: 0;
  color: var(--hotel-room-text-color);
  @include media(1024px) {
    width: 400px;
  }
}

.amenities-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @include media(1024px) {
    padding-left: 480px;
    gap: 32px;
  }
  @include media(1280px) {
    padding-left: 559;
  }
}
.amenities-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  fill: var(--modal-text-color);
  color: var(--modal-text-color);
  transition: var(--transition-color), var(--transition-fill);
  @include media(1024px) {
    font-size: 20px;
    line-height: calc(24 / 16);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.amenities-back {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  @include media(414px) {
    width: 384px;
    gap: 16px;
  }
  @include media(1024px) {
    width: 434px;
  }
}
