.about-the-kitchen {
  background-color: var(--primary-background-color);
}
.kitchen_title {
  color: var(--slogan-color);
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}
@mixin mobile {
  @media screen and (min-width: 414px) {
    @content;
  }
}
.kitchen_title_mimino {
  @font-face {
    font-family: 'Film P3';
    font-weight: 700;
    font-style: normal;
    src: local('Film P3'), local('Film-P3'),
      url('/src/fonts/FilmP3Bold.woff2') format('woff2'),
      url('/src/fonts/FilmP3Bold.woff') format('woff');
    font-display: swap;
  }
}
