.about-restaurant {
  @media screen and (max-width: 1023px) {
    padding: 15px 0 28px 0;
  }

  // @include media(414px) {
  //   padding: 15px 0 28px 0;
  // }

  @include media(1024px) {
    padding: 120px 0 40px 0;
  }

  @include media(1280px) {
    padding: 120px 0 58px 0;
  }
}

.restaurant__block {
  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }

  // @include media(414px) {
  //   margin-bottom: 32px;
  // }

  @include media(1024px) {
    display: flex;
    gap: 26px;
  }

  @include media(1280px) {
    gap: 37px;
  }
}

.restaurant__text {
  @media screen and (max-width: 1023px) {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
  }

  // @include media(414px) {
  //   margin-bottom: 12px;

  //   font-size: 20px;
  //   line-height: 1.15;
  // }

  @include media(1024px) {
    font-size: 32px;

    margin-bottom: 4px;
  }

  font-family: 'Times New Roman';
  font-weight: 400;

  color: var(--slogan-color);
}

.restaurant__subtitle {
  @media screen and (max-width: 1023px) {
    margin-bottom: 12px;

    font-size: 40px;
  }

  // @include media(414px) {
  //   margin-bottom: 12px;

  //   font-size: 40px;
  // }

  @include media(1024px) {
    margin-bottom: 24px;

    font-size: 64px;
  }

  font-family: 'Film P3';
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.3em;

  color: var(--mimino-section-color);
}

.restaurant__subtext {
  @media screen and (max-width: 1023px) {
    max-width: 258px;

    font-size: 12px;

    margin-bottom: 28px;
  }

  // @include media(414px) {
  //   max-width: 258px;

  //   font-size: 12px;

  //   margin-bottom: 28px;
  // }

  @include media(1024px) {
    margin-bottom: 0;

    max-width: 439px;

    font-size: 16px;
  }

  @include media(1280px) {
    max-width: 518px;
  }

  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--home-restaurant-text-color);
}

.restaurant__picture {
  @media screen and (max-width: 1023px) {
    margin-left: 155px;

    transform: translateY(0%);

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  // @include media(414px) {
  //   margin-left: 155px;

  //   transform: translateY(0%);

  //   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  // }

  @include media(1024px) {
    margin-left: 0;
    transform: translateY(-30%);

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  border-radius: 2px;
}

.restaurant__second-block {
  @media screen and (max-width: 1023px) {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // @include media(414px) {
  //   display: flex;
  //   align-items: center;
  //   gap: 20px;
  // }

  @include media(1024px) {
    display: flex;
    align-items: flex-start;
    gap: 48px;
  }

  @include media(1280px) {
    gap: 32px;
  }
}

.restaurant__second-picture {
  @media screen and (max-width: 1023px) {
    transform: translateY(0%);

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }

  // @include media(414px) {
  //   transform: translateY(0%);

  //   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  // }

  @include media(1024px) {
    transform: translateY(-33%);

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include media(1280px) {
    transform: translateY(-46%);

    box-shadow: none;
  }

  border-radius: 2px;
}

.restaurant__subtext--brown {
  @media screen and (max-width: 1023px) {
    max-width: 163px;

    margin-bottom: 0;
  }

  // @include media(414px) {
  //   max-width: 163px;

  //   margin-bottom: 0;
  // }

  @include media(1024px) {
    max-width: 312px;
  }

  color: var(--home-restaurant-accent-text-color);
}
