.menu {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--section-title-text-color);
}

.menu__title {
  margin-bottom: 32px;

  font-family: "Film P3", serif;
  font-size: 32px;
  line-height: calc(37 / 32);
  text-transform: uppercase;
}

.main-courses {
  width: 100%;
}

.main-courses__caption {
  margin-bottom: 8px;

  font-family: "Film P3", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: left;
}

.main-courses__name {
  width: 65%;
}

// .main-courses__size {
//   width: 19%;
// }

.main-courses__cost {
  width: 60px;
}

.main-courses tr:nth-child(2n + 1) {
  font-size: 14px;
  line-height: calc(17 / 14);
}

.main-courses tr:nth-child(2n + 1) td:first-child {
  padding-top: 8px;
  padding-bottom: 4px;

  font-weight: 500;
}

.main-courses tr:nth-child(2n) {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
}

.main-courses td:nth-child(2) {
  font-weight: 300;
  vertical-align: top;
  padding-top: 25px;
}

.main-courses td:nth-child(3) {
  font-weight: 700;
  vertical-align: top;
  padding-top: 25px;
}

.main-courses__composition {
  width: 195px;
  display: block;
}

// td {
//   outline: 1px solid red;
// }

