.menu {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--section-title-text-color);
  background: var(--primary-background-color);
}

.menu__title {
  margin-bottom: 32px;

  font-family: "Film P3", serif;
  font-size: 32px;
  line-height: calc(37 / 32);
  text-transform: uppercase;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 88px;

  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.menu__left-wrapper,
.menu__right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 1024px) {
    width: calc((100% - 88px) / 2);
  }
}

.menu__right-wrapper {
  @media screen and (min-width: 1024px) {
    gap: 22px;
  }
}

.main-courses,
.garnish-snack,
.salad,
.dessert,
.drink {
  width: 100%;
}

.main-courses__caption,
.garnish-snack__caption,
.salad__caption,
.dessert__caption,
.drink__caption {
  margin-bottom: 8px;

  font-family: "Film P3", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: left;
}

.main-courses__name,
.garnish-snack__name,
.salad__name,
.dessert__name {
  width: 65%;
}

.drink__name {
  width: 62%;
}

// .main-courses__size,
// .garnish-snack__size,
// .salad__size,
// .dessert__size.
// .drink__size {
//   width: 19%;
// }

.main-courses__cost,
.garnish-snack__cost,
.salad__cost,
.dessert__cost,
.drink__cost {
  width: 58px;
}

.main-courses tr:nth-child(2n + 1),
.garnish-snack tr:nth-child(2n + 1),
.salad tr:nth-child(2n + 1) {
  font-size: 14px;
  line-height: calc(17 / 14);
}

.main-courses tr:nth-child(2n + 1) td:first-child,
.garnish-snack tr:nth-child(2n + 1) td:first-child,
.salad tr:nth-child(2n + 1) td:first-child {
  padding-top: 8px;
  padding-bottom: 4px;

  font-weight: 500;
}

.main-courses tr:nth-child(2n),
.garnish-snack tr:nth-child(2n),
.salad tr:nth-child(2n) {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
}

.main-courses td:nth-child(2),
.garnish-snack td:nth-child(2),
.salad td:nth-child(2) {
  font-weight: 300;
  vertical-align: top;
  padding-top: 21px;
}

.main-courses td:nth-child(3),
.garnish-snack td:nth-child(3),
.salad td:nth-child(3) {
  font-weight: 700;
  vertical-align: top;
  padding-top: 21px;
}

.garnish-snack tr:nth-child(9) td:nth-child(2),
.garnish-snack tr:nth-child(9) td:nth-child(3) {
  padding-top: 32px;
}

.main-courses__composition,
.garnish-snack__composition,
.salad__composition {
  width: 185px;
  display: block;
}

.salad__composition--longer {
  width: 195px;
}

.dessert td,
.drink td {
  padding-top: 12px;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.dessert td:nth-child(1),
.drink td:nth-child(1) {
  font-weight: 500;
}

.dessert td:nth-child(2),
.drink td:nth-child(2) {
  font-weight: 300;
}

.dessert td:nth-child(3),
.drink td:nth-child(3) {
  font-weight: 700;
}

.menu__ntn-wrapper {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 1024px) {
    text-align: right;
  }
}
