.rest-hero {
    background-color: rgba(0, 0, 0, 0.65);
    max-width: 1807px;
    margin: 0 auto;
}

.container__hero {
    position: relative;
}

.rest__hero {
    background-image: linear-gradient( to right, 
    rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
        ), url(../images/mobile/restaurant-mobile-hero-1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    @include retina {
        background-image: linear-gradient( to right, 
        rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
            ), url(../images/mobile/restaurant-mobile-hero-2x.jpg);}

    @include tablet {
        background-image: linear-gradient( to right, 
        rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
            ), url(../images/tablet/restaurant-tablet-hero-1x.jpg);
    
        @include retina {
                background-image: linear-gradient( to right, 
                rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
                    ), url(../images/tablet/restaurant-tablet-hero-2x.jpg);}     
      }

      @include desktop {
        background-image: linear-gradient( to right, 
        rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
            ), url(../images/desktop/restoran-desktop-hero-1x.jpg);
    
        @include retina {
                background-image: linear-gradient( to right, 
                rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)    
                    ), url(../images/desktop/restoran-desktop-hero-2x.jpg);}     
}
}

.rest-hero__inf {
    padding-top: 181px;
    padding-bottom: 102px;

    @include tablet {
        padding-top: 188px;
        padding-bottom: 64px;
    }

    @include desktop {
        padding-top: 164px;
        padding-bottom: 64px;
    }
}

.rest-hero__items {
    text-align: center;
    margin-bottom: 113px;

    @include tablet {
        margin-bottom: 145px;
    }

    @include desktop {
        margin-bottom: 144px;
    }
}

.rest-hero__title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: calc(103 / 96);
    letter-spacing: 0.3em;
    color: var(--hero-text-color);
    margin: 0 auto;
    // text-shadow: inset 0px 4px 4px 0px #00000040;
    margin-bottom: 24px;
    text-transform: uppercase;
    max-width: 303px;

    @include tablet {
        font-size: 128px;
        line-height: calc(138 / 128);
        letter-spacing: 0.3em;

        margin-bottom: 16px;
        max-width: 404px;
    }

    @include desktop {
        font-size: 128px;
        line-height: calc(138 / 128);
        letter-spacing: 0.3em;

        margin-bottom: 32px;
        max-width: 404px;
    }

}

.rest-hero__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--hero-text-color);

    margin-bottom: 40px;

    @include tablet {
        font-size: 20px;
        line-height: calc(24/ 20);
        letter-spacing: 0.02em;

        margin-bottom: 56px;
    }

    @include desktop {
        font-size: 20px;
        line-height: calc(24/ 20);
        letter-spacing: 0.02em;

        margin-bottom: 64px;
    }
}

.rest-hero__text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37 / 32);
    letter-spacing: 0.05em;
    color: var(--hero-text-color);

    @include tablet {
        font-size: 36px;
        line-height: calc(41 / 36);
        letter-spacing: 0.05em;
    }

    @include desktop {
        font-size: 36px;
        line-height: calc(41 / 36);
        letter-spacing: 0.05em;
    }
    
}

.hero__adress {
    display: flex;
    max-width: 210px;

    border: 1px solid;
    border-color: rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    padding: 8px 0 8px 6px;

    position: absolute;
    top: 64px;
    right: 15px;

    @include tablet {
        position: absolute;
        top: 600px;
        left: 47px;
        max-width: 285px;
        padding: 8px 8px 8px 10px;
    }

    @include desktop {
        position: absolute;
        left: 85px;
        top: 600px;
        max-width: 285px;
        padding: 8px 8px 8px 10px;
    }
}

.adress__link {
    display: flex;
}

.adress__preicon {
    margin-right: 8px;
    display: flex;
    align-items: center;

    @include tablet {
        margin-right: 10px;
    }

    @include desktop {
        margin-right: 10px;
    }
}

.adress__icon {
    fill: var(--accent-color);

    @include tablet {
        width: 24px;
        height: 24px;
    }

    @include desktop {
        width: 24px;
        height: 24px;
    }
}

.adress__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.01em;
    color: #E5E5E5;

    @include tablet {
        font-size: 16px;
        line-height:calc(20 / 16);
    }

    @include desktop {
    font-size: 16px;
    line-height:calc(20 / 16);
    }
}

.adress__textpart {
    display: block;
    padding-right: 4px;

    @include tablet {
        padding-right: 5px;
    }

    @include desktop {
        padding-right: 0;
    }
}

.hero-btn__list {
    text-align: center;

    @include tablet {
        display: flex;
        justify-content: flex-end;
    }

    @include desktop {
        display: flex;
    }
}

.hero-btn__item:first-child {
    margin-bottom: 24px;

    @include tablet {
        margin-right: 40px;
        margin-bottom: 0;
    }

    @include desktop {
        margin-right: 60px;
        margin-bottom: 0;
    }
}

.hero__sosials {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    gap: 20px;

    @include tablet {
        position: absolute;
        bottom: 15px;
        left: 47px;
    }

    @include desktop {
        display: none;
    }
}

  .menu__icon { 
    fill: var(--accent-color); 
    display: flex; 
  }