<div class="modal" data-modal="bookTable">
  <button type="button" class="modal-close js-modal-close">
    <svg class="modal-close-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <p class="modal-title">забронювати столик</p>
  <form action="">
    <div class="modal-fields">
      <div class="modal-field table">
        <input
          type="text"
          name="book-table-name"
          id="book-table-name"
          class="modal-input"
          placeholder="Ваше ім’я"
          required
        />

        <label for="book-table-name" class="input-label"
          ><span class="modal-text">На кого забронювати столик?</span></label
        >
      </div>

      <div class="modal-field table">
        <input
          type="tel"
          name="book-table-tel"
          id="book-table-tel"
          class="modal-input"
          placeholder="+38 (___) ___-__-__"
          required
        />

        <label for="book-table-tel" class="input-label"
          ><span class="modal-text">Номер телефону</span></label
        >
      </div>

      <div class="modal-field table s-select">
        
        <select name="amount" class="modal-input">
          <option value="value1">1</option>
          <option value="value2" selected>2</option>
          <option value="value3">3</option>
          <option value="value2">4</option>
          <option value="value3">5</option>
        </select>

        <span class="modal-text">Столик на яку кількість осіб?</span>
      </div>

      <div class="modal-field table s-select">
       
        <select name="amount" class="modal-input">
          <option value="value1" selected>Сьогодні</option>
          <option value="value2">Завтра</option>
          <option value="value3">Післязавтра</option>
        </select>

        <span class="modal-text">На яку дату бронювати?</span>
      </div>
    </div>

    <div class="rules-btn">
      <button type="submit" class="btn-booking-modal js-modal-close">
        Оформити бронювання
      </button>
    </div>
  </form>
</div>

<div class="overlay js-overlay-modal"></div>
