<div>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-title">забронювати столик</p>
    <form action="">
      <div class="modal-field">
        <input
          type="text"
          name="user-name"
          id="user-name"
          class="modal-input"
          placeholder="Ваше ім’я"
          required
        />

        <label for="user-name" class="input-label"
          ><span>На кого забронювати столик?</span></label
        >
      </div>

      <div class="modal-field">
        <input
          type="tel"
          name="user-tel"
          id="user-tel"
          class="modal-input"
          placeholder="+38 (___) ___-__-__"
          required
        />

        <label for="user-tel" class="input-label"
          ><span>Номер телефону</span></label
        >
      </div>

      <div class="modal-field">
        <input
          list="table"
          name="amount"
          id="amount"
          placeholder="2"
          class="modal-input"
        />

        <datalist id="table">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </datalist>
        <label for="amount" class="input-label"
          ><span>Столик на яку кількість осіб?</span></label
        >
      </div>

      <div class="modal-field">
        <input
          list="date"
          name="date-book"
          id="date-book"
          placeholder="Сьогодні"
          class="modal-input"
        />

        <datalist id="date" type="date">
          <option>Сьогодні</option>
          <option>Завтра</option>
          <option>Післязавтра</option>
        </datalist>
        <label for="date-book" class="input-label"
          ><span>На яку дату бронювати?</span></label
        >
      </div>
      <div class="rules-btn">
        <button type="submit" class="user-rules-btn">
          Оформити бронювання
        </button>
      </div>
    </form>
  </div>
</div>
