<div>
    <div class="modal">
      <button type="button" class="modal-close" data-modal-close>
        <svg class="modal-close-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
  
      <p class="modal-title">ціни на номер</p>
      <form>
        
        <p class="cathegory">Двомісний люкс</p>
        <p class="cathegory-text">Категорія номеру</p>
        <div class="modal-field">
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="modal-input"
            placeholder="1"
            required
          />
  
          <label for="user-name" class="input-label"
            ><span>Кількість ночей</span></label
          >
        </div>
  
        <div class="modal-field">
            <input
              type="text"
              name="user-name"
              id="user-name"
              class="modal-input"
              placeholder="1000"
              required
            />
    
            <label for="user-name" class="input-label"
              ><span>грн</span></label
            >
          </div>

        <div class="rules-btn">
          <button type="submit" class="user-rules-btn">
            Оформити бронювання
          </button>
        </div>
      </form>
    </div>
  </div>