<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">зручності у номері</h2>
          <p class="amenities-title-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
          </p>
      <ul class="amenities-list list">
        <li class="amenities-item">
          <h3 class="amenities-subtitle">загальні</h3>
          <div class="amenities-wrap">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="amenities-item">
          <h3 class="amenities-subtitle">ванна кімната</h3>
          <div class="amenities-wrap">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint. Velit officia consequat duis enim velit mollit. Exercitation
              veniam consequat sunt nostrud amet.
            </p>
          </div>
        </li>
        <li class="amenities-item">
          <h3 class="amenities-subtitle">спальня</h3>
          <p class="amenities-text amenities-single-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </li>
        <li class="amenities-item">
          <h3 class="amenities-subtitle">кухня</h3>
          <div class="amenities-wrap">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint.
            </p>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
              sint.
            </p>
          </div>
        </li>
        <li class="amenities-item">
          <h3 class="amenities-subtitle">медіа</h3>
          <p class="amenities-text amenities-single-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
    <div class="amenities-control">
      <button type="button" class="btn-booking-room js-open-modal" data-modal="roomPriceTriple">
        оформити бронювання
      </button>
      <a href="./hotel.html" class="amenities-link">
        <div class="amenities-back">
          <p>Повернутися до перегляду номерів</p>
          <svg class="amenities-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-right-back"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>