<section class="triple-hero triple__hero">
  <div class="triple__shadow">
    <div class="hero-slider-container">
      <!-- <div class="hero-slider__wrapper"> -->
      <div class="hero-slider__wrapper hero-slider__wrapper--responsive">
        <div class="hero-slider hero-slider-settings">
          <div class="page-wrapper">
            <!-- <div class="hero-slider__page hero-slider__first-page"></div> -->
            <div
              class="hero-slider__page hero-slider__first-page hero-slider__first-page--responsive"
            ></div>
          </div>
          <div class="page-wrapper">
            <!-- <div class="hero-slider__page hero-slider__second-page"></div> -->
            <div
              class="hero-slider__page hero-slider__second-page hero-slider__second-page--responsive"
            ></div>
          </div>
          <div class="page-wrapper">
            <!-- <div class="hero-slider__page hero-slider__third-page"></div> -->
            <div
              class="hero-slider__page hero-slider__third-page hero-slider__third-page--responsive"
            ></div>
          </div>
        </div>
        <svg
          class="hero-slider__icon hero-slider__icon--prev"
          width="40"
          height="40"
        >
          <use href="./images/icons.svg#icon-left"></use>
        </svg>
        <svg
          class="hero-slider__icon hero-slider__icon--next"
          width="40"
          height="40"
        >
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>

    <div class="container container__triple">
      <div class="triple__title">
        <h1 class="triple__subtitle">трьохмісний номер</h1>
        <p class="triple__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="triple__btn">
        <button class="btn-transparent js-open-modal" type="button" data-modal="roomPriceTriple">Переглянути ціни</button>
      </div>

      <div class="triple-hero__sosials">
        <ul class="triple-hero__item">
          <li class="triple-hero__list">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="triple-menu__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="triple-hero__list">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="triple-menu__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="triple-hero__list">
            <a
              href="https://web.telegram.org"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="triple-menu__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="triple-hero__adress adress">
        <address>
          <a
            href="https://goo.gl/maps/LqPzEGcC2Cw2mZnc9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="triple-adress__link"
          >
            <div class="triple-adress__preicon">
              <svg width="20" height="20" class="triple-adress__icon">
                <use href="./images/icons.svg#icon-location-pin"></use>
              </svg>
            </div>
            <p class="triple-adress__text">
              Україна, м. Полтава,
              <span class="triple-adress__textpart"
                >вул. Маршала Бірюзова, 15</span
              >
            </p>
          </a>
        </address>
      </div>
    </div>
  </div>
</section>
