<section class="about-restaurant">
  <div class="container">
    <div class="restaurant__block">
      <div>
        <h2 class="visually-hidden">Restaurant</h2>
        <p class="restaurant__text">Amet minim mollit non</p>
        <h3 class="restaurant__subtitle">MIMIHO</h3>
        <p class="restaurant__subtext">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="restaurant__picture">
        <picture>
          <source
            srcset="
              ./images/desktop/home-desktop-1-1x.jpg 1x,
              ./images/desktop/home-desktop-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/home-tablet-1-1x.jpg 1x,
              ./images/tablet/home-tablet-1-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/mobile/home-mobile-1-1x.jpg 1x,
              ./images/mobile/home-mobile-1-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/desktop/home-desktop-1-1x.jpg"
            alt="Вид в ресторані"
            width="460"
            height="574"
          />
        </picture>
      </div>
    </div>

    <div class="restaurant__second-block">
      <div class="restaurant__second-picture">
        <picture>
          <source
            srcset="
              ./images/desktop/home-desktop-2-1x.jpg 1x,
              ./images/desktop/home-desktop-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/home-tablet-2-1x.jpg 1x,
              ./images/tablet/home-tablet-2-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/mobile/home-mobile-2-1x.jpg 1x,
              ./images/mobile/home-mobile-2-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/desktop/home-desktop-2-1x.jpg"
            alt="Хол ресторану"
            width="460"
            height="574"
          />
        </picture>
      </div>
      <p class="restaurant__subtext restaurant__subtext--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <!-- <div class="slider-nav">
      <div>
        <img
          src="./images/mobile/home-mobile-slide1-1x.jpg"
          alt=""
          width="254"
        />
      </div>
      <div>
        <img
          src="./images/mobile/home-mobile-slide1-1x.jpg"
          alt=""
          width="254"
        />
      </div>
      <div>
        <img
          src="./images/mobile/home-mobile-slide1-1x.jpg"
          alt=""
          width="254"
        />
      </div>
      <div>
        <img
          src="./images/mobile/home-mobile-slide1-1x.jpg"
          alt=""
          width="254"
        />
      </div>
    </div> -->
  </div>
</section>
