<section class="about-restaurant">
  <div class="container">
    <div class="about-restaurant__first-wrapper">
      <div class="about-restaurant__text-wrapper">
        <h2 class="visually-hidden">Інформація про ресторан MIMIHO</h2>
        <p class="about-restaurant__pre-title">Amet minim mollit non</p>
        <h3 class="about-restaurant__title">MIMIHO</h3>
        <p class="about-restaurant__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-restaurant__image-thumb">
        <picture class="about-restaurant__image">
          <source
            srcset="
              ./images/desktop/home-desktop-1-1x.jpg 460w,
              ./images/desktop/home-desktop-1-2x.jpg 920w
            "
            media="(min-width: 1280px)"
            sizes="460px"
          />
          <source
            srcset="
              ./images/tablet/home-tablet-1-1x.jpg 400w,
              ./images/tablet/home-tablet-1-2x.jpg 800w
            "
            media="(min-width: 1024px)"
            sizes="400px"
          />
          <source
            srcset="
              ./images/mobile/home-mobile-1-1x.jpg 244w,
              ./images/mobile/home-mobile-1-2x.jpg 488w
            "
            media="(max-width: 1023px)"
            sizes="244px"
          />
          <img
            src="./images/mobile/home-mobile-1-1x.jpg"
            alt="Фото номера готеля MIMIHO"
          />
        </picture>
      </div>
    </div>

    <div class="about-restaurant__second-wrapper">
      <picture class="about-restaurant__image">
        <source
          srcset="
            ./images/desktop/home-desktop-2-1x.jpg 460w,
            ./images/desktop/home-desktop-2-2x.jpg 920w
          "
          media="(min-width: 1280px)"
          sizes="460px"
        />
        <source
          srcset="
            ./images/tablet/home-tablet-2-1x.jpg 350w,
            ./images/tablet/home-tablet-2-2x.jpg 700w
          "
          media="(min-width: 1024px)"
          sizes="350px"
        />
        <source
          srcset="
            ./images/mobile/home-mobile-2-1x.jpg 200w,
            ./images/mobile/home-mobile-2-2x.jpg 400w
          "
          media="(max-width: 1023px)"
          sizes="200px"
        />
        <img
          src="./images/mobile/home-mobile-2-1x.jpg"
          alt="Фото хола готеля MIMIHO"
        />
      </picture>
      <p class="about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-kitchen-restaurant__third-wrapper">
      <div
        class="section-slider__wrapper about-kitchen-restaurant-slider__wrapper"
      >
        <div
          class="section-slider section-slider--black-arrow section-slider--about-kitchen-restaurant two-time"
        >
          <div class="about-kitchen-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/mobile/home-mobile-slide1-1x.jpg 1x,
                  ./images/mobile/home-mobile-slide1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/home-tablet-slider-1-1x.jpg 1x,
                  ./images/tablet/home-tablet-slider-1-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/home-mobile-slide1-1x.jpg 1x,
                  ./images/mobile/home-mobile-slide1-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./images/mobile/home-mobile-slide1-1x.jpg"
                alt="бокал"
              />
            </picture>
          </div>
          <div class="about-kitchen-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-slider-7-1x.jpg 1x,
                  ./images/mobile/mobile-slider-7-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/tablet-slider-7-1x.jpg 1x,
                  ./images/tablet/tablet-slider-7-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/mobile-slider-7-1x.jpg 1x,
                  ./images/mobile/mobile-slider-7-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img src="./images/mobile/mobile-slider-7-1x.jpg" alt="устрицы" />
            </picture>
          </div>
          <div class="about-kitchen-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-slider-16-1x.jpg 1x,
                  ./images/mobile/mobile-slider-16-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/tablet-slider-16-1x.jpg 1x,
                  ./images/tablet/tablet-slider-16-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/mobile-slider-16-1x.jpg 1x,
                  ./images/mobile/mobile-slider-16-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img src="./images/mobile/mobile-slider-16-1x.jpg" alt="каша" />
            </picture>
          </div>
          <div class="about-kitchen-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/mobile/mobile-slider-15-1x.jpg 1x,
                  ./images/mobile/mobile-slider-15-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/tablet-slider-15-1x.jpg 1x,
                  ./images/tablet/tablet-slider-15-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/mobile-slider-15-1x.jpg 1x,
                  ./images/mobile/mobile-slider-15-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./images/mobile/mobile-slider-15-1x.jpg"
                alt="сніданок"
              />
            </picture>
          </div>

          <svg
            class="section-slider__icon section-slider__icon--black about-kitchen-restaurant-slider__icon--previous"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-left"></use>
          </svg>

          <svg
            class="section-slider__icon section-slider__icon--black about-kitchen-restaurantm-slider__icon--next"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-right"></use>
          </svg>
        </div>

        <svg
          class="section-slider__icon section-slider__icon--black about-kitchen-restaurant-slider__icon--previous"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-left"></use>
        </svg>

        <svg
          class="section-slider__icon section-slider__icon--black about-kitchen-restaurant-slider__icon--next"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
