<section class="about-hotel">
  <div class="container">
    <ul class="about-hotel__list">
      <li class="about-hotel__item">
        <div class="about-hotel__text-wrapper">
          <h2 class="visually-hidden">Інформація про готель MIMIHO</h2>
          <p class="about-hotel__pre-title">Amet minim mollit non</p>
          <h3 class="about-hotel__title">MIMIHO</h3>
          <p class="about-hotel__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="about-hotel__image-thumb">
          <img
            srcset="./images/mobile/home-mobile-3-1x.jpg 1x, ./images/mobile/home-mobile-3-2x.jpg 2x"
            src="./images/mobile/home-mobile-3-1x.jpg"
            alt="Фото номера готеля MIMIHO"
            class="" />
        </div>
      </li>
      
      <li class="about-hotel__item">
        <p class="about-hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>

        <img
          srcset="./images/mobile/home-mobile-4-1x.jpg 1x, ./images/mobile/home-mobile-4-2x.jpg 2x"
          src="./images/mobile/home-mobile-4-1x.jpg"
          alt="Фото хола готеля MIMIHO"
          class="" />
      </li>
    </ul>
  </div>
</section>