<section class="section section__about-restaurant">
  <div class="container container__about-restaurant">
    <div class="section-description-wrap">
      <h3
        class="mimiho-title mimiho-title--white about-restaurant__mimiho-title"
      >
        MIMIHO
      </h3>
      <h2
        class="section-title section-title--white about-restaurant__section-title"
      >
        Ресторан
      </h2>
      <p
        class="section-text section-text--light about-restaurant__section-text"
      >
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="section-order-wrapper">
      <div class="slider about-restaurant-slider">
        <img
          src="./images/mobile/home-mobile-restaurant-slider1-1x.jpg"
          alt="some food"
        />
      </div>
      <div class="about-restaraunt-button-wrapper">
        <button type="button" class="btn-transparent section-button">
          Забронювати столик
        </button>
        <button type="button" class="btn-transparent section-button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
