<section class="mimino__contacts">
  <div class="container contacts__container">
    <address class="mimino__address">
      <h2 class="mimino__address-title">mimino</h2>
      <p class="mimino__address-text">Ресторанно-готельний комплекс</p>
      <h3 class="visually-hidden">Контакти</h3>
      <ul class="mimino__address-list">
        <li class="mimino__address-item item-position-one">
          <h4 class="title__name">Ресторан</h4>
        </li>
        <li class="mimino__address-item item-position-two">
          <a href="tell:095 555 95 33" class="mimino__address-link">
            <svg class="mimino__address-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone-desktop-24">
              </use>
            </svg>
            095 555 95 33
          </a> 
        </li>
        <li class="mimino__address-item item-position-tree">
          <h4 class="title__name">Готель</h4>
        </li>
        <li class="mimino__address-item item-position-four">
          <a href="tell:066 849 10 89"  class="mimino__address-link">
            <svg class="mimino__address-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-phone-desktop-24">
              </use>
            </svg>
            066 849 10 89
          </a>
          <a href="tell:067 275 85 40" class="mimino__address-link">067 275 85 40
          </a>
        </li>
        <li class="mimino__address-item item-position-five">
         <svg class=" icon-location-pin" width="24" height="24">
          <use href="./images/icons.svg#icon-location-pin">
          </use></svg>
          <a  href="https://goo.gl/maps/iWpYPyjG3BxKhRKn8"
              class="mimino__address-location-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >Україна, м. Полтава, 
            вул. Маршала Бірюзова, 15
          </a>
          </li>
        </ul> 
    </address>
    <div class="map"">
      <iframe class="address__list-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23300.62912866904!2d34.52898433865987!3d49.58877196622684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670609316101!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
