<section class="mimino__contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Контакти</h2>
    <div class="wrap">
      <h3 class="mimiho-title--grey mimino__contacts-title">MIMINO</h3>
      <p class="section-text mimino__contacts-text">
        Ресторанно-готельний комплекс
      </p>
      <address class="contacts__address">
        <ul class="mimino__contacts-list">
          <li class="mimino__contacts-item">
            <a class="title__name" href="#">Ресторан</a>
            <a href="tel:0955559533" class="mimino__contacts-link link-border">
              <svg class="mimino__contacts-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-phone-desktop-24"></use>
              </svg>
              095 555 95 33
            </a>
          </li>
          <li class="mimino__contacts-item">
            <a class="title__name" href="#">Готель</a>
            <div class="link-wrap">
              <a href="tel:0668491089" class="mimino__contacts-link">
                <svg class="mimino__contacts-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-phone-desktop-24"></use>
                </svg>
                066 849 10 89
              </a>
              <a href="tel:0672758540" class="mimino__contacts-link"
                >067 275 85 40
              </a>
            </div>
          </li>
        </ul>

        <a
          href="https://goo.gl/maps/iWpYPyjG3BxKhRKn8"
          class="mimino__address-location-link"
          target="_blank"
          rel="noreferrer noopener nofollow"
        >
          <svg class="icon-location-pin" width="24" height="24">
            <use href="./images/icons.svg#icon-icon-location-pin-1"></use>
          </svg>
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
      </address>
    </div>
    <div class="map">
      <iframe
        class="address__list-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23300.62912866904!2d34.52898433865987!3d49.58877196622684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670609316101!5m2!1suk!2sua"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
