<section class="section section_details-of-our-hotel">
  <div class="container container_details-of-our-hotel">
    <div class="details-of-our-hotel-discription">
      <h3 class="mimino-details-of-our-hotel">MIMIHO</h3>
      <h2 class="mimino-general-title">Готель</h2>
      <p class="details-of-our-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-of-our-hotel-elements">
      <div class="slider-show">
        <div class="section-slider__wrapper details-hotel-slider__wrapper">
          <div
            class="section-slider section-slider--white-arrow section-slider--details-hotel details-restaurant-slider"
          >
            <div class="details-hotel-slider__thumb">
              <picture>
                <source
                  srcset="
                    ./images/desktop/home-desktop-hotel-slider-1-1x.jpg 1x,
                    ./images/desktop/home-desktop-hotel-slider-1-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/home-tablet-hotel-3-1x.jpg 1x,
                    ./images/tablet/home-tablet-hotel-3-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home-mobile-room-slide2-1x.jpg 1x,
                    ./images/mobile/home-mobile-room-slide2-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 1023px)"
                />
                <img
                  class="details-restaurant-slider__image"
                  src="images/desktop/home-desktop-hotel-slider-1-1x.jpg"
                  alt="home-desktop"
                />
              </picture>
            </div>
            <div class="details-restaurant-slider__thumb">
              <picture>
                <source
                  srcset="
                    ./images/desktop/home-desktop-hotel-slider-2-1x.jpg 1x,
                    ./images/desktop/home-desktop-hotel-slider-2-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/home-tablet-hotel-2-1x.jpg 1x,
                    ./images/tablet/home-tablet-hotel-2-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home-mobile-room-slide1-1x.jpg 1x,
                    ./images/mobile/home-mobile-room-slide1-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 1023px)"
                />
                <img
                  class="details-restaurant-slider__image"
                  src="images/desktop/home-desktop-hotel-slider-2-1x.jpg"
                  alt="home-desktop-sec"
                />
              </picture>
            </div>
            <div class="details-restaurant-slider__thumb">
              <picture>
                <source
                  srcset="
                    ./images/tablet/home-tablet-hotel-1-1x.jpg 1x,
                    ./images/tablet/home-tablet-hotel-1-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/desktop/home-desktop-hotel-slider-3-1x.jpg 1x,
                    ./images/desktop/home-desktop-hotel-slider-3-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/home-mobile-room-slide1-1x.jpg 1x,
                    ./images/mobile/home-mobile-room-slide1-2x.jpg 2x
                  "
                  type="image/jpg"
                  media="(max-width: 1023px)"
                />
                <img
                  class="details-restaurant-slider__image"
                  src="images/desktop/home-desktop-hotel-slider-3-1x.jpg"
                  alt="home-desktop-th"
                />
              </picture>
            </div>
          </div>

          <svg
            class="section-slider__icon section-slider__icon--white details-hotel-slider__icon--previous"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-left"></use>
          </svg>

          <svg
            class="section-slider__icon section-slider__icon--white details-hotel-slider__icon--next"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-right"></use>
          </svg>
        </div>
      </div>
      <div class="buttons-for-pleasure">
        <button type="button" class="buttons js-open-modal" data-modal="bookRoom">Забронювати номер</button>
        <button type="button" class="buttons">
          <a href=".//hotel.html" class="batton-color">Переглянути ціни</a>
        </button>
      </div>
    </div>
  </div>
</section>
