<section class="section section__details-restaurant">
  <div class="container container__details-restaurant">
    <div class="section-description-wrap">
      <h3
        class="mimiho-title mimiho-title--white details-restaurant__mimiho-title"
      >
        MIMIHO
      </h3>
      <h2
        class="section-title section-title--white details-restaurant__section-title"
      >
        Ресторан
      </h2>
      <p
        class="section-text section-text--light details-restaurant__section-text"
      >
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="section-order-wrapper">
      <div class="section-slider__wrapper details-restaurant-slider__wrapper">
        <div
          class="section-slider section-slider--white-arrow section-slider--details-restaurant details-restaurant-slider"
        >
          <div class="details-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/home-desktop-restaurant-slider-1-1x.jpg 1x,
                  ./images/desktop/home-desktop-restaurant-slider-1-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant-slider__image"
                src="./images/desktop/home-desktop-restaurant-slider-1-1x.jpg"
                alt="some food"
              />
            </picture>
          </div>
          <div class="details-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/home-desktop-restaurant-slider-2-1x.jpg 1x,
                  ./images/desktop/home-desktop-restaurant-slider-2-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant-slider__image"
                src="./images/desktop/home-desktop-restaurant-slider-2-1x.jpg"
                alt="some food"
              />
            </picture>
          </div>
          <div class="details-restaurant-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/home-desktop-restaurant-slider-3-1x.jpg 1x,
                  ./images/desktop/home-desktop-restaurant-slider-3-2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="details-restaurant-slider__image"
                src="./images/desktop/home-desktop-restaurant-slider-3-1x.jpg"
                alt="some food"
              />
            </picture>
          </div>
        </div>

        <svg
          class="section-slider__icon section-slider__icon--white details-restaurant-slider__icon--previous"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-left"></use>
        </svg>

        <svg
          class="section-slider__icon section-slider__icon--white details-restaurant-slider__icon--next"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>

      <div class="details-restaurant-button-wrapper">
        <button type="button" class="btn-transparent section-button">
          Забронювати столик
        </button>
        <button type="button" class="btn-transparent section-button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
