<footer class="footer-menu">
  <div class="container footer-menu__main-wrapp">
    <a class="footer-menu__logo" href="">MIMIHO</a>
    <div class="footer-menu__wrapp">
      <ul class="footer-menu__list">
        <li class="footer-menu__item">
          <a href="./index.html" class="footer-menu__link">Головна</a>
        </li>
        <li class="footer-menu__item">
          <a href="./restaurant.html" class="footer-menu__link">Ресторан</a>
        </li>
        <li class="footer-menu__item">
          <a href="./hotel.html" class="footer-menu__link">Готель</a>
        </li>
      </ul>
      <ul class="footer-menu__actions-list">
        <li class="footer-menu__actions-item">
          <a
            class="footer-menu__actions-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="footer-menu__actions-span">Instagram</span>
            <svg class="footer-menu__actions__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-menu__actions-item">
          <a
            class="footer-menu__actions-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="footer-menu__actions-span">Facebook</span>
            <svg class="footer-menu__actions__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-menu__actions-item">
          <a
            class="footer-menu__actions-link"
            href="https://www.telegram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="footer-menu__actions-span">Telegram</span>
            <svg class="footer-menu__actions__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
