.btn-transparent {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;
  min-width: 236px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: var(--accent-color);
  transition: var(--transition-bg);
  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}

.btn-black {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;
  min-width: 236px;
  height: 48px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 25px;
  transition: var(--transition-bg);
  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}

.btn-booking-modal {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #ffffff;
  width: 100%;
  min-height: 64px;
  background-color: #000000;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  transition: var(--transition-bg), var(--transition-color);
  @include media(414px) {
    width: 384px;
      }
  @include media(1024px) {
    width: 592px;
    min-height: 64px;
    font-size: 24px;
  }
  &:hover,
  &:focus {
    color: #000000;
    background-color: var(--accent-color);
  }
}

.btn-booking-room {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #ffffff;
  width: 100%;
  height: 64px;
  background: #000000;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  transition: var(--transition-bg), var(--transition-color);
  @include media(414px) {
    width: 384px;
      }
  @include media(1024px) {
    width: 434px;
    font-size: 24px;
  }
  &:hover,
  &:focus {
    color: #000000;
    background-color: var(--accent-color);
  }
}
