.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */

  @include media(414px) {
    width: 414px;
  }

  @include media(1024px) {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include media(1280px) {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

// background-image: linear-gradient(to right,
//   #FFFDEE 25%,
//   #FFFDEE 25%,
//   rgba(186, 186, 186, 0.4) 25.1%,
//   rgba(186, 186, 186, 0.4) 25.2%,
//   #FFFDEE 25.1%,
//   #FFFDEE 50%,
//   rgba(186, 186, 186, 0.4) 50.1%,
//   rgba(186, 186, 186, 0.4) 50.2%,
//   #FFFDEE 50.1%,
//   #FFFDEE 75%,
//   rgba(186, 186, 186, 0.4) 75.1%,
//   rgba(186, 186, 186, 0.4) 75.2%,
//   #FFFDEE 75.1%);


//   background-image: linear-gradient(to right,
//     #F0ECD6 25%,
//     #F0ECD6 25%,
//     rgba(186, 186, 186, 0.4) 25.1%,
//     rgba(186, 186, 186, 0.4) 25.2%,
//     #F0ECD6 25.1%,
//     #F0ECD6 50%,
//     rgba(186, 186, 186, 0.4) 50.1%,
//     rgba(186, 186, 186, 0.4) 50.2%,
//     #F0ECD6 50.1%,
//     #F0ECD6 75%,
//     rgba(186, 186, 186, 0.4) 75.1%,
//     rgba(186, 186, 186, 0.4) 75.2%,
//     #F0ECD6 75.1%);