//-----------------------------INSTRUCTION-----------------------------
// --------------------------------------------------------------------
// HTML дерево слайдеру. Все, що виділено КАПСОМ треба замінити на своє
// --------------------------------------------------------------------
//
// <div class="section-slider__wrapper DETAILS-RESTAURANT-slider__wrapper">
//   <div
//     class="section-slider section-slider--has-white-arrows section-slider--DETAILS-RESTAURANT DETAILS-RESTAURANT-slider"
//   >
//     <div class="DETAILS-RESTAURANT-slider__thumb">
//       <picture> </picture>
//     </div>
//     <div class="DETAILS-RESTAURANT-slider__thumb">
//       <picture> </picture>
//     </div>
//     <div class="DETAILS-RESTAURANT-slider__thumb">
//       <picture> </picture>
//     </div>
//   </div>

// <svg
//   class="section-slider__icon section-slider__icon--WHITE DETAILS-RESTAURANT-slider__icon--prev"
//   width="32"
//   height="32"
// >
//   <use href="./images/icons.svg#icon-left"></use>
// </svg>

// <svg
//   class="section-slider__icon section-slider__icon--white DETAILS-RESTAURANT-slider__icon--next"
//   width="32"
//   height="32"
// >
//   <use href="./images/icons.svg#icon-right"></use>
// </svg>
// </div>
//
//--------------------------------------------------------------------
// Класи, якими я позиціонував свій слайдер і які не увійшли до збірки
//--------------------------------------------------------------------
//
// .DETAILS-RESTAURANT-slider__wrapper {
//   margin-left: 25px;
//   @include tablet {
//     margin-left: unset;
//   }
// }
// .DETAILS-RESTAURANT-slider__thumb {
//   margin-right: 20px;
//   @include tablet {
//     margin-right: 34px;
//   }
//   @include desktop {
//     margin-right: 86px;
//   }
// }
// .DETAILS-RESTAURANT-slider {
//   max-width: 374px;
//   height: 270px;
//   @include tablet {
//     max-width: unset;
//     width: 662px;
//   }
//   @include desktop {
//     width: 875px;
//   }
// }
//
//

.section-slider__wrapper {
  position: relative;
}

.section-slider__wrapper--absolute {
  position: absolute;
}

// скидання і задання спільних стилів
// (Підвищую специфічність, щоб перебити стилі, задані в slic плагіні)
.section-slider {
  .slick-arrow {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transform: unset;
    width: 32px;
    height: 32px;
    z-index: 2;
    // background-color: rgba(0, 128, 128, 0.53);
    background-color: transparent;
    &::before {
      color: transparent;
    }
  }
  &:has(> .slick-prev:hover) + .section-slider__icon--prev {
    color: var(--accent-color);
  }

  &:has(> .slick-prev:focus) + .section-slider__icon--prev {
    color: var(--accent-color);
  }

  &:has(> .slick-next:hover) + svg + .section-slider__icon--next {
    color: var(--accent-color);
  }

  &:has(> .slick-next:focus) + svg + .section-slider__icon--next {
    color: var(--accent-color);
  }
}

.section-slider__image {
  border-radius: 2px;
}

.section-slider__icon {
  width: 32px;
  height: 32px;
  z-index: 1;
  position: absolute;
}

//
// Якщо секція темна, а стрілки білі
//

.section-slider--has-white-arrows {
  .slick-arrow {
    bottom: -48px;

    @include tablet {
      bottom: -56px;
    }
  }
}
.section-slider__icon--white {
  color: #ffffff;
  fill: currentColor;
  transition: var(--transition-color);
  bottom: -48px;

  @include tablet {
    bottom: -56px;
  }
}

//
// Якщо секція світла, а стрілки чорні
//

.section-slider--has-black-arrows {
  .slick-arrow {
    bottom: -52px;
    @include tablet {
      bottom: -64px;
    }
    @include desktop {
      bottom: -72px;
    }
  }
}
.section-slider__icon--black {
  color: #000000;
  fill: currentColor;
  transition: var(--transition-color);
  bottom: -52px;
  @include tablet {
    bottom: -64px;
  }
  @include desktop {
    bottom: -72px;
  }
}

// +-------------------------------Cекція "About our hotel"--------------------------------
.about-hotel-slider__wrapper {
  max-width: calc(100vw - 84px);
  margin-left: -15px;
  margin-right: 69px;

  @include tablet {
    margin-left: unset;
    margin-right: 489px;
    top: -28px;
  }

  @include desktop {
    margin-left: unset;
    margin-right: 580px;
    top: -163px;
  }
}

.about-hotel-slider {
  @include tablet {
    max-width: unset;
    width: 428px;
  }

  @include desktop {
    width: 530px;
  }
  .slick-prev {
    left: 15px;
    @include tablet {
      left: 0;
    }
  }
  .slick-next {
    left: 79px;
    @include tablet {
      left: 64px;
    }
  }
}
.about-hotel-slider__thumb {
  margin-right: 20px;
  height: 425px;

  @include tablet {
    margin-right: 40px;
    height: 194px;
  }

  @include desktop {
    height: 245px;
    width: 245px;
  }
}
.about-hotel-slider__icon--prev {
  left: 15px;
  @include tablet {
    left: 0;
  }
}
.about-hotel-slider__icon--next {
  left: 79px;
  @include tablet {
    left: 64px;
  }
}

// end of folding

// +-----------------------------Cекція "Details of our hotel"------------------------------
.details-hotel-slider__wrapper {
  max-width: calc(100vw - 25px);
  margin-left: -15px;
  margin-right: 25px;
  @include tablet {
    margin-left: unset;
    margin-right: unset;
    top: 3;
  }
}

.details-hotel-slider {
  max-width: 374px;
  height: 270px;

  @include tablet {
    max-width: unset;
    width: 662px;
  }

  @include desktop {
    width: 874px;
  }

  .slick-prev {
    right: 64px;
  }
  .slick-next {
    right: 0;
  }
}

.details-hotel-slider__thumb {
  margin-right: 20px;

  @include tablet {
    margin-right: 34px;
  }

  @include desktop {
    margin-right: 86px;
  }
}

.details-hotel-slider__icon--prev {
  right: 64px;
}
.details-hotel-slider__icon--next {
  right: 0;
}

// end of folding

// +--------------------------Cекція "Details of our restaurant"---------------------------
.details-restaurant-slider__wrapper {
  max-width: calc(100vw - 25px);
  margin-right: -15px;
  margin-left: 25px;
  @include tablet {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
  }
}

.details-restaurant-slider {
  max-width: 374px;
  height: 270px;
  @include tablet {
    max-width: unset;
    width: 665px;
  }
  @include desktop {
    width: 875px;
  }

  .slick-prev {
    left: 0;
  }
  .slick-next {
    left: 64px;
  }
}

.details-restaurant-slider__thumb {
  margin-right: 20px;
  @include tablet {
    margin-right: 34px;
  }
  @include desktop {
    margin-right: 86px;
  }
}

.details-restaurant-slider__icon--prev {
  left: 0;
}
.details-restaurant-slider__icon--next {
  left: 64px;
}
// end of folding

// ++-----------------Cекція "About our restaurant" і "About our kitchen"-------------------
.about-restaurant-slider__wrapper {
  max-width: calc(100vw - 84px);
  margin-right: -15px;
  margin-left: 69px;

  @include tablet {
    margin-right: unset;
    margin-left: 489px;
    top: -28px;
  }

  @include desktop {
    margin-right: unset;
    margin-left: 562px;
    top: -147px;
  }
}

.about-kitchen-slider__wrapper {
  max-width: calc(100vw - 84px);
  margin-right: -15px;
  margin-left: 69px;

  @include tablet {
    margin-right: unset;
    margin-left: 489px;
    top: -28px;
  }

  @include desktop {
    margin-right: unset;
    margin-left: 562px;
    top: -142px;
    left: 18px;
  }
}

.about-kitchen-restaurant-slider {
  .slick-prev {
    left: unset;
    right: 81px;
  }
  .slick-next {
    left: unset;
    right: 17px;
  }
}
.about-restaurant-slider__thumb {
  margin-right: 25px;
  width: 245px;
  height: 245px;

  @include tablet {
    margin-right: 40px;
    width: 194px;
    height: 194px;
  }

  @include desktop {
    width: 254px;
    height: 254px;
  }
}
.about-kitchen-slider__thumb {
  margin-right: 25px;
  width: 245px;
  height: 245px;

  @include tablet {
    margin-right: 40px;
    width: 194px;
    height: 194px;
  }

  @include desktop {
    width: 245px;
    height: 245px;
  }
}
.about-kitchen-restaurant-slider__icon--prev {
  right: 81px;
}
.about-kitchen-restaurant-slider__icon--next {
  right: 17px;
}

// end of folding

// -----------------------Двокімнатний номер і двокімнатний люкс----------------------------
.double-room-section__slider-wrapper {
  max-width: calc(100vw - 130px);
  margin-left: -15px;
  margin-right: 115px;
  @include tablet {
    margin: unset;
  }
}

.double-room-slider {
  max-width: 287px;

  @include tablet {
    max-width: unset;
    width: 428px;
  }

  @include desktop {
    width: 548px;
  }
  .slick-prev {
    left: 15px;
    @include tablet {
      left: unset;
      right: 64;
    }
  }
  .slick-next {
    left: 79px;
    @include tablet {
      left: unset;
      right: 0px;
    }
  }
}

.double-room-slider__thumb {
  margin-right: 16px;
  max-width: 194px;

  @include tablet {
    margin-right: 40px;
  }

  @include desktop {
    max-width: 254px;
  }
}

.double-room-slider__icon--prev {
  left: 15px;
  // зміни до слайдеру
  @include tablet {
    // left: unset;
    // right: 64px;
    right: unset;
    left: 332px;
  }
  // зміни до слайдеру
  @include desktop {
    right: unset;
    left: 450px;
  }
}
.double-room-slider__icon--next {
  left: 79px;
  // зміни до слайдеру
  @include tablet {
    // left: unset;
    // right: 0;
    right: unset;
    left: 398px;
  }
  // зміни до слайдеру
  @include desktop {
    right: unset;
    left: 518px;
  }
}

// end of folding

// ------------------------------Трьохкімнатний номер----------------------------------------
.triple-section-slider__wrapper {
  max-width: calc(100vw - 130px);
  margin-right: -15px;
  margin-left: 115px;
  @include tablet {
    margin: unset;
  }
}
.tripple-room-slider {
  max-width: 287px;

  @include tablet {
    max-width: unset;
    width: 428px;
  }

  @include desktop {
    width: 548px;
  }
  .slick-next {
    right: 15px;
    @include tablet {
      right: unset;
      left: 64px;
    }
  }
  .slick-prev {
    right: 79px;
    @include tablet {
      right: unset;
      left: 0;
    }
  }
}
.tripple-room-slider__icon--next {
  right: 15px;
  @include tablet {
    right: unset;
    left: 64px;
  }
}
.tripple-room-slider__icon--prev {
  right: 79px;
  @include tablet {
    right: unset;
    left: 0;
  }
}

// end of folding
