.about-hotel {
  padding-top: 18px;
  padding-bottom: 20px;

  background-color: var(--primary-background-color);

}

.about-hotel__item {
  &:nth-child(2n + 1) {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &:nth-child(2n) {
    display: flex;
    gap: 21px;

    @media screen and (max-width: 1023px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.about-hotel__text-wrapper {
  width: 242px;

  @media screen and (max-width: 1023px) {
    align-self: flex-end;
  }
}

.about-hotel__pre-title {
  font-family: "Film P3", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--slogan-color);
  text-align: right;
}

.about-hotel__title {
  font-family: "Film P3", serif;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--mimino-section-color);
  text-align: right;
}

.about-hotel__image-thumb {
  width: 244px;

  @media screen and (min-width: 1024px) {
    width: 400px;
  }

  @media screen and (min-width: 1280px) {
    width: 460px;
  }
}

.about-hotel__image {
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel__text {
  color: var(--modal-text-color);

  @media screen and (min-width: 414px) {
    padding-top: 70px;
  }
}
