.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  @include tablet {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }
  &--white {
    color: #ffffff;
  }
  &--grey {
    color: var(--slogan-color);
    font-size: 32px;
    line-height: 37px;
  }
}

.section__about-restaurant {
  padding: 24px 0px 40px 40px;
  @include tablet {
    padding: 47px 0px 96px 0px;
  }
  @include desktop {
    padding: 48px 0px 96px 85px;
  }
}

.about-restaurant__mimiho-title {
  margin-bottom: 12px;
  @include tablet {
    margin-bottom: 16px;
  }
}

.about-restaurant__section-title {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 8px;
  }
}

.about-restaurant__section-text {
  margin-bottom: 48px;
  @include tablet {
    margin-bottom: 40px;
  }
}

.container-wrap__about-restaurant {
  background-color: rgba(0, 0, 0, 0.65);

  $bg-gradient: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  background-image: $bg-gradient,
    url(../images/mobile/home-mobile-restaurant-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: $bg-gradient,
      url(../images/mobile/home-mobile-restaurant-2x.jpg);
  }

  @include tablet {
    background-image: $bg-gradient,
      url(../images/tablet/home-tablet-restaurant-1x.jpg);
    @include retina {
      background-image: $bg-gradient,
        url(../images/tablet/home-tablet-restaurant-2x.jpg);
    }
  }

  @include desktop {
    background-image: $bg-gradient,
      url(../images/desktop/home-desktop-restoran-1x.jpg);
    @include retina {
      background-image: $bg-gradient,
        url(../images/desktop/home-desktop-restoran-2x.jpg);
    }
  }
}

.about-restaurant-slider {
  margin-bottom: 80px;
  @include tablet {
    margin-bottom: unset;
  }
}

.section-button {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.section-description-wrap {
  padding-left: 100px;
  @include tablet {
    padding-left: 231px;
    width: 841px;
  }
  @include desktop {
    padding-left: 253px;
    width: 863px;
  }
}

.about-restaraunt-button-wrapper {
  width: 236px;
  margin: 0 auto;
  @include tablet {
    margin: unset;
  }
}

.section-order-wrapper {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 29px;
  }
}
