.footer-menu {
  background: var(--footer-background-color);
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.footer-menu__main-wrapp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-menu__logo {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  @include tablet {
    font-size: 63px;
  }
}
.footer-menu__wrapp {
  display: flex;
  @include before-tablet {
    gap: 32px;
    flex-direction: column;
  }
  @include tablet {
    gap: 134px;
  }
  @include desktop {
    gap: 199px;
  }
}
.footer-menu__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
.footer-menu__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-menu__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-menu__actions-list {
  display: flex;
  gap: 20px;
  @include tablet {
    flex-direction: column-reverse;
  }
}
.footer-menu__actions-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu__actions-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
  gap: 11px;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  @include tablet {
    border: 0.5px solid var(--accent-color);
    border-radius: 2px;
    width: 143px;
    height: 40px;
    justify-content: center;
  }
}
.footer-menu__actions-span {
  @include before-tablet {
    display: none;
  }
}
.footer-menu__actions__icon {
  fill: var(--accent-color);
}
