<section class="amenities" >
  <div class="container">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="amenities-subtitle">ЗАГАЛЬНІ</h3>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="amenities-subtitle" >ВАННА КІМНАТА</h3>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="amenities-subtitle">СПАЛЬНЯ</h3>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
    <h3 c>КУХНЯ</h3>
    <p class="amenities-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    <p class="amenities-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    <h3 class="amenities-subtitle">МЕДІА</h3>
    <p class="amenities-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
    
    <button type="button" class="btn-booking-room">ОФОРМИТИ БРОНЮВАННЯ</button>
  </div>
</section>
