<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <dl class="amenities-list">
      <dd class="amenities-title-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </dd>
      <dt class="amenities-subtitle">ЗАГАЛЬНІ</dt>
      <div class="amenities-wrap">
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </dd>
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </dd>
      </div>
      <dt class="amenities-subtitle">ВАННА КІМНАТА</dt>
      <div class="amenities-wrap">
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </dd>
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </dd>
      </div>
      <dt class="amenities-subtitle">СПАЛЬНЯ</dt>
      <dd class="amenities-text amenities-single-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </dd>
      <dt class="amenities-subtitle">КУХНЯ</dt>
      <div class="amenities-wrap">
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </dd>
        <dd class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </dd>
      </div>
      <dt class="amenities-subtitle">МЕДІА</dt>
      <dd class="amenities-text amenities-single-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </dd>
    </dl>
    <div class="amenities-control">
      <button type="button" class="btn-booking-room">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a href="./hotel.html" class="amenities-link">
        <div class="amenities-back">
          <p>Повернутися до перегляду номерів</p>
          <svg class="amenities-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-right-back"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
