<section class="double-room">
  <div class="container">
    <div class="about-room__list">
      <div class="about-room__item">
        <div class="about-room__wraptex">
          <h2 class="about-room__title">Amet minim mollit non</h2>
          <p class="about-room__pre-title">MIMIHO</p>
          <h3 class="about-room__second-title">ДВОМІСНИЙ НОМЕР</h3>
          <p class="about-room__second-rpe-title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="about-room__image">
          <picture>
            <source
              srcset="
                ./images/desktop/hotel-desktop-1-1x.jpg 1x,
                ./images/desktop/hotel-desktop-1-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/hotel-tablet-1-1x.jpg 1x,
                ./images/tablet/hotel-tablet-1-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/mobile/hotel-mobile-1x.jpg 1x,
                ./images/mobile/hotel-mobile-2x.jpg 2x
              "
              media="(min-width:414px)"
            />
            <img src="./images/mobile/hotel-mobile-1x.jpg" alt="room" />
          </picture>
        </div>
      </div>

      <div class="section-slider__wrapper double-section-slider__wrapper">
        <div
          class="section-slider section-slider--black-arrow section-slider--double-room two-time"
        >
          <div class="double-section-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/hotel-desktop-slider-1-1x.jpg 1x,
                  ./images/desktop/hotel-desktop-slider-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/hotel-tablet-slider-1-1x.jpg 1x,
                  ./images/tablet/hotel-tablet-slider-1-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/hotel-mobile-slider-1-1x.jpg 1x,
                  ./images/mobile/hotel-mobile-slider-1-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./images/mobile/hotel-mobile-slider-1-1x.jpg"
                alt="мажорний умивальник"
              />
            </picture>
          </div>
          <div class="double-section-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/hotel-desktop-slider-2-1x.jpg 1x,
                  ./images/desktop/hotel-desktop-slider-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/hotel-tablet-slider-2-1x.jpg 1x,
                  ./images/tablet/hotel-tablet-slider-2-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/hotel-mobile-slider-2-1x.jpg 1x,
                  ./images/mobile/hotel-mobile-slider-2-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./images/mobile/hotel-mobile-slider-2-1x.jpg"
                alt="кава на фоні ялинки"
              />
            </picture>
          </div>
          <div class="double-section-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/desktop-slider-8-1x.jpg 1x,
                  ./images/desktop/desktop-slider-8-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/tablet-slider-8-1x.jpg 1x,
                  ./images/tablet/tablet-slider-8-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/mobile-slider-8-1x.jpg 1x,
                  ./images/mobile/mobile-slider-8-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img src="./images/mobile/mobile-slider-8-1x.jpg" alt="кафешка" />
            </picture>
          </div>
          <div class="double-section-slider__thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/desktop-slider-9-1x.jpg 1x,
                  ./images/desktop/desktop-slider-9-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/tablet-slider-9-1x.jpg 1x,
                  ./images/tablet/tablet-slider-9-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/mobile-slider-9-1x.jpg 1x,
                  ./images/mobile/mobile-slider-9-2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                src="./images/mobile/mobile-slider-9-1x.jpg"
                alt="сніданок"
              />
            </picture>
          </div>

          <svg
            class="section-slider__icon section-slider__icon--black double-room-slider__icon--previous"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-left"></use>
          </svg>

          <svg
            class="section-slider__icon section-slider__icon--black double-room-slider__icon--next"
            width="32"
            height="32"
          >
            <use href="./images/icons.svg#icon-right"></use>
          </svg>
        </div>

        <svg
          class="section-slider__icon section-slider__icon--black double-room-slider__icon--previous"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-left"></use>
        </svg>

        <svg
          class="section-slider__icon section-slider__icon--black double-room-slider__icon--next"
          width="32"
          height="32"
        >
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </div>

      <div class="about-room__btn">
        <a class="btn-black about-room__link" href="../src/double-lux-room.html"
          >Детальніше</a
        >
        <button class="btn-black" type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
