<section class="about-kitchen">
  <div class="container">
    <div class="kitchen_up_wrapp">
      <div class="kitchen_up_container">
        <h2 class="about-our-kitchen visually-hidden">about our kitchen</h2>
        <span class="kitchen_title">Amet minim mollit non</span>
        <h3 class="kitchen_title_mimino">mimino</h3>
        <p class="kitchen_txt_upper">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="kitchen_chef">
        <picture class="kitchen_chef_pic">
          <source
            srcset="
              ./images/desktop/restoran-desktop-1-1x.jpg 1x,
              ./images/desktop/restoran-desktop-1-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/restaurant-tablet-1-1x.jpg 1x,
              ./images/tablet/restaurant-tablet-1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/restaurant-mobile-1-1x.jpg 1x,
              ./images/mobile/restaurant-mobile-1-2x.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/desktop/restoran-desktop-1-1x.jpg"
            alt="A cook holds a frying pan over a burning stove"
            width="270"
          />
        </picture>
      </div>
    </div>

    <div class="kitchen_beaf">
      <div class="kitchen_beaf_wrap">
        <div class="kitchen_beaf_tumb">
          <picture class="kitchen_beaf_pic">
            <source
              srcset="
                ./images/desktop/restoran-desktop-2-1x.jpg 1x,
                ./images/desktop/restoran-desktop-2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/restaurant-tablet-2-1x.jpg 1x,
                ./images/tablet/restaurant-tablet-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/restaurant-mobile-2-1x.jpg 1x,
                ./images/mobile/restaurant-mobile-2-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="./images/desktop/restoran-desktop-2-1x.jpg"
              alt="Preparation for preparing beefsteak"
              width="270"
            />
          </picture>
        </div>

        <p class="kitchen_txt_bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
  </div>

  <!--------slider------->
  <div class="test-slider">
    <div
      class="section-slider__wrapper section-slider--about-kitchen-restaurant-slider__wrapper"
    >
      <div
        class="section-slider section-slider--black-arrow section-slider--about-kitchen-restaurant-slider two-time"
      >
        <div class="section-slider--about-kitchen-restaurant-slider__thumb">
          <picture class="slick-picture">
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-1-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/restaurant-tablet-slider-1-1x.jpg 1x,
                ./images/tablet/restaurant-tablet-slider-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/restaurant-mobile-slider1-1x.jpg 1x,
                ./images/mobile/restaurant-mobile-slider1-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="./images/desktop/restaurant-desktop-slider-1-1x.jpg"
              alt="preparation of the dough"
              width="245"
            />
          </picture>
        </div>
        <div class="section-slider--about-kitchen-restaurant-slider__thumb">
          <picture class="slick-picture">
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-2-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/restaurant-tablet-slider-2-1x.jpg 1x,
                ./images/tablet/restaurant-tablet-slider-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-2-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-2-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="./images/desktop/restaurant-desktop-slider-2-1x.jpg"
              alt="preparation of the dough"
              width="245"
            />
          </picture>
        </div>
        <div class="section-slider--about-kitchen-restaurant-slider__thumb">
          <picture class="slick-picture">
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-1-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/restaurant-tablet-slider-1-1x.jpg 1x,
                ./images/tablet/restaurant-tablet-slider-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/restaurant-mobile-slider1-1x.jpg 1x,
                ./images/mobile/restaurant-mobile-slider1-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="./images/desktop/restaurant-desktop-slider-1-1x.jpg"
              alt="preparation of the dough"
              width="245"
            />
          </picture>
        </div>
        <div class="section-slider--about-kitchen-restaurant-slider__thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-2-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/restaurant-tablet-slider-2-1x.jpg 1x,
                ./images/tablet/restaurant-tablet-slider-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/desktop/restaurant-desktop-slider-2-1x.jpg 1x,
                ./images/desktop/restaurant-desktop-slider-2-2x.jpg 2x
              "
              media="(min-width: 480px)"
            />
            <img
              src="./images/desktop/restaurant-desktop-slider-2-1x.jpg"
              alt="preparation of the dough"
              width="245"
            />
          </picture>
        </div>
      </div>
      <svg
        class="section-slider__icon section-slider__icon--black about-kitchen-restaurant-slider__icon--next"
        width="32"
        height="32"
      >
        <use href="./images/icons.svg#icon-left"></use>
      </svg>

      <svg
        class="section-slider__icon section-slider__icon--black about-kitchen-restaurant-slider__icon--previous"
        width="32"
        height="32"
      >
        <use href="./images/icons.svg#icon-right"></use>
      </svg>
    </div>
  </div>
</section>
