<h1>Amet minim mollit non</h1>
<p>MIMIHO</p>
<p>
  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  Velit officia consequat duis enim velit mollit. Exercitation veniam consequat
  sunt nostrud amet.
</p>
<picture>
  <source
    srcset="
      ./images/desktop/restoran-desktop-1-1x.jpg 1x,
      ./images/desktop/restoran-desktop-1-2x.jpg 2x
    "
    media="(min-width: 1200px)"
  />
  <source
    srcset="
      ./images/tablet/restaurant-tablet-1-1x.jpg 1x,
      ./images/tablet/restaurant-tablet-1-2x.jpg 2x
    "
    media="(min-width: 768px)"
  />
  <source
    srcset="
      ./images/mobile/restaurant-mobile-1-1x.jpg 1x,
      ./images/mobile/restaurant-mobile-1-2x.jpg 1x
    "
    media="(min-width: 480px)"
  />
  <img
    src="./images/desktop/restoran-desktop-1-1x.jpg"
    alt="Кухар тримає сковорідку над палаючою плитою"
    width="270"
  />
</picture>
