<section class="rest-hero rest__hero">
  <div class="container container__hero">
    <div class="rest-hero__inf">
      <div class="rest-hero__items">
        <h1 class="rest-hero__title">mimiho</h1>
        <h2 class="rest-hero__subtitle">Ресторан</h2>
        <p class="rest-hero__text">смак життя 24/7</p>
      </div>

      <div class="hero__btns hero-btn">
        <ul class="hero-btn__list">
          <li class="hero-btn__item">
            <button
              class="btn-transparent js-open-modal"
              type="button"
              data-modal="bookTable"
            >
              Забронювати столик
            </button>
          </li>
          <li>
            <a class="hero-btn__item-link link-btn btn-transparent" href="#menu"
              >Переглянути меню</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__adress adress">
      <address>
        <a
          href="https://goo.gl/maps/LqPzEGcC2Cw2mZnc9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="adress__link"
        >
          <div class="adress__preicon">
            <svg width="20" height="20" class="adress__icon">
              <use href="./images/icons.svg#icon-location-pin"></use>
            </svg>
          </div>
          <p class="adress__text">
            Україна, м. Полтава,
            <span class="adress__textpart">вул. Маршала Бірюзова, 15</span>
          </p>
        </a>
      </address>
    </div>

    <div>
      <ul class="hero__sosials">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="menu__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="menu__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="menu__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
