<section class="menu">
        <div class="container">
          <h2 class="menu__title">Меню ресторану</h2>
          <div class="menu__wrapper">
            <div class="menu__left-wrapper">
              <table class="main-courses" cellspacing="0" cellpadding="0">
                <caption class="main-courses__caption">Гарячі страви</caption>

                <col class="main-courses__name">
                <col class="main-courses__size">
                <col class="main-courses__cost">

                <tr>
                  <td>Борщ з телятини з квасолею</td>
                  <td rowspan="2">400 г</td>
                  <td rowspan="2">240 грн</td>
                </tr>
                <tr>
                  <td>
                    <span class="main-courses__composition">
                      Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Суп сирний з куркою</td>
                  <td rowspan="2">400 г</td>
                  <td rowspan="2">200 грн</td>
                </tr>
                <tr>
                  <td>
                    <span class="main-courses__composition">
                      Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                    </span>
                  </td>
                </tr>
              </table>



              
              Гарніри та закуски
            </div>
            <div class="menu__right-wrapper">
              Салати
              Десерти
              Напої
            </div>
          </div>
        </div>
      </section>