.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 712px;
  padding: 60px 15px;

  background: var(--primary-background-color);

  @media screen and (max-width: 1023px) {
    width: 100%;
    max-width: 414px;
    overflow: auto;
  }

  @media screen and (min-width: 1024px) {
    padding: 60px;
  }

  opacity: 0;
  visibility: hidden;
  z-index: 50;
}

.overlay {
   
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28px / 24px);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--section-title-text-color);
  margin-bottom: 40px;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(46px / 40px);
    margin-bottom: 36px;
  }
}

.modal-fields {
  display: flex;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1024px) {
    flex-wrap: wrap;
  }
}

.modal-field {
  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    min-width: 288px;
  }

  &.room {
    @media screen and (min-width: 1024px) {
      &:nth-child(3) {
        margin: 28px 0 28px 304px;
      }

      &:nth-child(3n + 1) {
        margin-right: 16px;
      }
    }
  }

  &.table {
    @media screen and (min-width: 1024px) {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 28px;
      }

      &:nth-child(2n + 1) {
        margin-right: 16px;
      }
    }
  }

  &.room-price {
    @media screen and (min-width: 1024px) {
      // margin-bottom: 28px;

      &:nth-child(1) {
        margin-right: 16px;
      }
    }
  }
}

.modal-input {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  letter-spacing: 0.05em;
  color: var(--modal-placeholder-color);

  width: 100%;
  height: 54px;
  border: 1px solid var(--home-restaurant-accent-text-color);
  border-radius: 2px;
  background: var(--primary-background-color);
  padding-left: 12px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23px / 20px);
    letter-spacing: 0.05em;

    color: #808080;
  }
}

.modal-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17px / 14px);
  letter-spacing: 0.02em;

  color: var(--home-restaurant-accent-text-color);
  display: block;
  margin-top: 8px;
  padding-left: 12px;
}

.rules-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.cathegory {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28px / 24px);
  letter-spacing: 0.05em;
  margin-bottom: 28px;

  color: var(--modal-placeholder-color);
}
.cathegory-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.02em;
  color: var(--home-restaurant-accent-text-color);
}

.s-select {
  position: relative;
  // color: var(--fc-dark);
}

.s-select select {
  position: relative;
  z-index: 2;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: transparent;
  // border-color: none;

  // display: block;
}

// .s-select::after {
//   content: "";
//   position: absolute;
//   right: 20px;
//   pointer-events: none;
// }

.modal-input-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  // transform: translateY(-50%);
  fill: var(--modal-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  display: block;
}
