.triple-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--secondary-background-color);
  text-align: end;

  @include tablet {
    padding-top: 66px;
    padding-bottom: 104px;
  }

  @include tablet {
    padding-top: 72px;
    padding-bottom: 112px;
  }
}

.triple-section__container{
  position: relative;
}

.triple-section-title-wrap{
  display: inline-block;
  text-align: start;
  margin-left: auto;
}

.triple-section__slogan{
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--slogan-color);
    margin-bottom: 8px;

    @include tablet{
      font-size: 32px;
      line-height: calc(37 / 32);
    }
}

.triple-section__mimiho-title{
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--mimino-section-color);
  margin-bottom: 32px;
}

.triple-section__title{
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: calc(28 /24);
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 12px;
}

.triple-section__text{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--home-restaurant-text-color);
  text-align: start;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 32px;
  max-width: 242px;
}

.triple-section__image-thumb {
  width: 244px;
  margin-bottom: 298px; 

  @media screen and (min-width: 1024px) {
    width: 400px;

    position: relative;

    & .about-hotel__image {
      position: absolute;
      top: -144px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 460px;
  }
}

.triple-section-slider__wrapper{
  position: absolute;
  right: 0;
  bottom: 184px;
}

.triple-section-slider__thumb {
  margin-right: 16px;
  max-width: 194px;

  // @include tablet {
  //   margin-right: 40px;
  //   max-width: 194px;
  // }

  // @include desktop {
  //   max-width: 245px;
  // }


}

.two-time {
  max-width: 330px;

  @include tablet {
    max-width: unset;
    width: 428px;
  }

  @include desktop {
    width: 530px;
  }
}

.triple-section-btn{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  max-width: 236px;
}